body{
	margin:0;
	font-size:19px;
	/*font-size:16px;*/
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	line-height: 1.4em;
}
#content{
	margin: 80px auto;
	text-align: justify;
}
#content > hr{
	margin: 50px auto;
	width: 800px;
}
#slides{
	margin: 0 auto;
	margin-top: 80px;
	width: 800px;
}
#slides > div{
	overflow: hidden;
	padding-right:3px; /* for italics text */
	margin-bottom: 50px;
	/*position: relative;*/
}
#slides > div > img, #slides > div > video{
	width:400px;
	float:left;
}
#slides > div > div{
	width:370px;
	float:right;
}
#slides > div > .caption{
	display: block;
	width: 400px;
	text-align: center;
	/*position: absolute;
	left:0; top:230px;*/
	float: left;
	font-size: 14px;
	color: #888;
	margin-top: 5px;
}
#slides > div > .caption > a{
	color: inherit;
}
#title{
	text-align:center;
	margin-bottom: 20px;
	/*line-height: 35px;*/
	font-size: 32px;
}
#outro{
	width: 600px;
	margin: 80px auto;
	text-align: justify;
	font-size: 22px;
}
code, pre, #intro{
	background: #666;
	color:#ddd;
	padding: 5px;
	border-radius: 5px;
	font-size: 15px;
	margin: 0;
}
#intro{
	width: 800px;
	margin: 0 auto;
	padding: 10px 20px;
	line-height: 20px; 
	font-family: monospace;
	text-align: center;
	background: #333;
}
hr{
	border:none;
	border-bottom:3px dashed #ddd;
	margin: 42px 0;
}
a{
	color: #fe2b75;
	font-weight: bold;
}
b{
	font-weight: bold;
}
h3{
	margin-top: 0;
	font-size: 25px;
}
.chapter_link {
	opacity: 0.3;
}
.chapter_link:hover {
	opacity: 0.5;
}
.chapter_link img{
	width:23px;
	position: relative;
	top: 2px;
}
#toc{
	text-align:center;
	font-size:14px;
	margin-top: 10px;
	color: #777;
}
#toc a{
	color:inherit;
}